@import url(https://fonts.googleapis.com/css?family=Lato:400,300,900)

* {
  box-sizing: border-box;
}

/* Start| image styling and author link*/
body {
  background-color: #3A8B7D;
}

img {
  margin-top: 5%;
}

h5 {
  position: relative;
  margin-top: -25px;
  text-align: center;
}

a {
  text-decoration: none;
  color: #F7E490;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

a:hover {
  text-decoration: none;
}

/* End| image styling and author link*/

.description {
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

/* Start| .description styling */
.description h1 {
  color: #F36F42;
  text-shadow: 4px 2px #563321;
}

.description h2 {
  color: #F7E490;
}

.description p {
  color: #FFF8DD;
}

button.btn-large {
  background-color: #E85771;
  color: #FFF8DD;
  padding: 8px 28px;
  font-size: 15px;
  line-height: normal;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 50px;
}
/* Start| .description styling */

.words {
  text-align: center;
  margin-top: 50px;
}

.input-section{
  text-align: center;
}

.container {
  text-align: center;
  font-size: 30px;
  font-style: 'Lato', sans-serif;
  font-weight: 100;
}

.pressed-keys span {
  font-size: 30px;
  font-style: 'Lato', sans-serif;
  font-weight: 100;
  color: #FFF8DD;
}

.container h1{
  font-style: 'Lato', sans-serif;
  font-weight: 300;
  color: #F7E490;
}

.current-key span {
  font-size: 30px;
  font-style: 'Lato', sans-serif;
  font-weight: 100;
  color: #FFF8DD;
}

.hangman {
  text-align: center;
  margin-left: 50px;
}

/*Animation starts here*/


.gol {
  color: #49234E;
  text-align: center;
}
.soccer {
  background: url(http://i.imgur.com/HAzOq6U.png?1);
  background-size: 100px 100px;
  height: 100px;
  width: 100px;
  position: relative;
  -webkit-animation:roll 4.5s infinite;
  -moz-animation:roll 4.5s infinite;
  animation:roll 4.5s infinite;
}

@-moz-keyframes roll {
  0% {left:0px; -webkit-transform: rotate(-360deg);}
  50% {left:1000px; -webkit-transform: rotate(360deg);}
  100% {left:0px; -webkit-transform: rotate(-360deg);}
}
@-webkit-keyframes roll {
  0% {left:0px; -webkit-transform: rotate(-360deg);}
  50% {left:1000px; -webkit-transform: rotate(360deg);}
  100% {left:0px; -webkit-transform: rotate(-360deg);}
}

@keyframes roll {
  0% {left:0px; -webkit-transform: rotate(-360deg);}
  50% {left:1000px; -webkit-transform: rotate(360deg);}
  100% {left:0px; -webkit-transform: rotate(-360deg);}
}

.world-cup {
  color: #82AE6F;
  text-align: center;
}

.hint h1{
  text-align: center;
  font-size: 30px;
  font-style: 'Lato', sans-serif;
}

.hint {
  color: #FFF8DD;
  text-align: center;
  font-size: 30px;
  font-style: 'Lato', sans-serif;
  font-weight: 100;
}
